{% extends "base.html" %} {% block title %}Formulario Ticket{% endblock %} {%block content %}

<div class="container">
  <h2>Formulario Ticket</h2>

  <form method="post" class="filter-form">
    {% csrf_token %} {% for field in form %}
    <div class="form-row">
      {{ field.label_tag }} {{ field }} {% if field.errors %}
      <span style="color: #d63031">{{ field.errors }}</span>
      {% endif %}
    </div>
    {% endfor %}

    <div class="filter-actions">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="{% url 'ticket_list' %}" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
</div>

{% endblock %}
